.nav {
  list-style-type: none;
  background-color: #264653;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

.articles {
  padding-left: 2rem;
}

.article-card-li{
  list-style-type: none;
  display: inline-block;
}