.nav {
  list-style-type: none;
  background-color: #264653;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

.articles {
  padding-left: 2rem;
}

.article-card{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 border: 2px black
}

.article-card-title{
  grid-row: 1;
}
article-card-data{
  grid-row: 2;
}
article-card-li{
  grid-row: 3;
  list-style-type: none;
}